### *This is a test of Scikit learn data, and formatting it appropriately*

## Step 1: import all necessary libraries

In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd

from sklearn.datasets import load_iris

## Step 2: Load dataset

### this is a pre-built data set from sklearn

In [7]:
data = load_iris()
df = pd.DataFrame(data=data, columns = data.feature_names)

In [8]:
#define target
df['species'] = data.target

In [9]:
#print first five lines
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,NaN,NaN,NaN,NaN,0
1,NaN,NaN,NaN,NaN,0
2,NaN,NaN,NaN,NaN,0
3,NaN,NaN,NaN,NaN,0
4,NaN,NaN,NaN,NaN,0

## Step 3: Arrange data into features matrix and target vector

In [11]:
feature_names = ['sepal length (cm)',
                 'sepal width (cm)',
                 'petal length (cm)',
                 'petal width (cm)']

In [12]:
# Multiple column features matrix to convert to NumPy Array
df.loc[:, feature_names]

    sepal length (cm) sepal width (cm) petal length (cm) petal width (cm)
0                 NaN              NaN               NaN              NaN
1                 NaN              NaN               NaN              NaN
2                 NaN              NaN               NaN              NaN
3                 NaN              NaN               NaN              NaN
4                 NaN              NaN               NaN              NaN
..                ...              ...               ...              ...
145               NaN              NaN               NaN              NaN
146               NaN              NaN               NaN              NaN
147               NaN              NaN               NaN              NaN
148               NaN              NaN               NaN              NaN
149               NaN              NaN               NaN              NaN

[150 rows x 4 columns]

In [13]:
# Convert to numpy array
x = df.loc[:, feature_names].values

In [16]:
#is the numpy array 2-dimensional?
#this shows that the number of x and y coordinates
x.shape

(150, 4)

In [17]:
# Pandas series to convert to NumPy Array
df.loc[:, 'species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [18]:
y = df.loc[:, 'species'].values

In [19]:
y.shape

(150,)